// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;

  .container {
    background-color: rgb(82, 137, 189);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      text-align: end;

      input:last-child {
        width: 100%;
        cursor: pointer;
        padding: 0.2rem 0;
      }
    }

    h1 {
      text-align: center;
      color: #fff;
    }
  }
}
